body {
    margin: 0px;
    padding: 0px;
    background-image: url("../resource/paper_1.jpg");
}

#title {
    font-weight: 700;
    font-size: 20pt;
}

#main_icon:hover {
    filter: brightness(80%);
}

.shopTable td{
    border: 1px solid #000;
}